# Site description
title: Joe Roe
name: Joe Roe
description: >- # this means to ignore newlines until "baseurl:"
  Joe Roe is a computational archaeologist and researcher at the University of Copenhagen.
site.locale: "en-GB"

# URLs and permalinks
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://joeroe.io" # the base hostname & protocol for your site, e.g. http://example.com
repository: "joeroe/joeroe.github.io"

# Author information
author:
  name: "Joe Roe"
  avatar: "/images/avatar.png"
  bio: "Computational archaeologist, prehistorian. Researcher at the University of Copenhagen."
  location: "Copenhagen, Denmark"
  links:
    - label: "joe@joeroe.io"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:joe@joeroe.io"
    - label: "0000-0002-1011-1244"
      icon: "ai ai-fw ai-orcid"
      url: "https://orcid.org/0000-0002-1011-1244"
    - label: "Google Scholar"
      icon: "ai ai-fw ai-google-scholar"
      url: "https://scholar.google.dk/citations?user=asBKJCwAAAAJ"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/joeroe"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter"
      url: "https://twitter.com/joeroe90"
    - label: "Wikipedia"
      icon: "fab fa-fw fa-wikipedia-w"
      url: "https://en.wikipedia.org/wiki/User:Joe_Roe"
 
# Twitter cards
twitter:
  username: "joeroe90"

# Content types
collections:
  code:
    output: true
  datasets:
    output: true
  papers:
    output: true
  papers:
    output: true
  posters:
    output: true
  talks:
    output: true
  blog:
    output: true

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: single
      classes: wide
      author_profile: true
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "single"
      share: true
      related: true
  - scope:
      path: ""
      type: "code"
    values:
      layout: "program"
  - scope:
      path: ""
      type: "datasets"
    values:
      layout: "dataset"
  - scope:
      path: ""
      type: "papers"
    values:
      layout: "paper"
  - scope:
      path: ""
      type: "posters"
    values:
      layout: "poster"
  - scope:
      path: ""
      type: "talks"
    values:
      layout: "talk"

# Breadcrumbs
breadcrumbs: false

# Home page pagination
# paginate: 3
# paginate_path: /page:num/

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.20.1"
minimal_mistakes_skin: "contrast"
plugins:
  - jekyll-feed
  - jekyll-include-cache

