# Site description
title: Joe Roe
name: Joe Roe
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
site.locale: "en-GB"

# URLs and permalinks
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
repository: "joeroe/joeroe.github.io"

# Author information
author:
  name: "Joe Roe"
  avatar: "/images/avatar.png"
  bio: "Computational archaeologist, prehistorian, R nerd."
  location: "Copenhagen, Denmark"
 
twitter:
  username: "joeroe90"
github_username:  joeroe

# Content types
collections:
  code:
    output: true
  papers:
    output: true
  papers:
    output: true
  posters:
    output: true
  talks:
    output: true
  blog:
    output: true

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: single
      classes: wide
      author_profile: true

# Build settings
markdown: kramdown
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "contrast"
plugins:
  - jekyll-feed

