---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"; // academicons

$masthead-link-color: #dd3300;
