---
layout: single
---

<p>
{{ page.authors }}
{% if page.in_press %}
(in press)
{% else %}
({{ page.year }})
{% endif %}
{% if page.book %}
<br />In {{ page.editors }} (eds.), <cite>{{ page.book }}</cite>, pp. {{ page.pages }}. {{ page.publisher }}.
{% else %}
<br /><cite>{{ page.journal }}</cite>
{% if page.volume %}
{{ page.volume }}({{ page.issue }}): {{ page.pages }}.
{% endif %}
{% endif %}
{% if paper.doi %}
<br /><a href="https://doi.org/{{ page.doi }}">doi:{{ page.doi }}</a>
{% endif %}
</p>

{{ content }}
