---
layout: single
---

{% if page.logo %}
<img src="{{ page.logo }}" alt="{{ page.short_name }} logo" style="float: right; width: 139px; height: 139px;" />
{% endif %}

<dl>
	<dt>Latest version</dt>
	<dd>
		{% if page.version == '0.0.0' %}
		unreleased
		{% else %}
		{{ page.version }} ({{ page.year }})
		{% endif %}
	</dd>
	{% if page.doi %}
	<dt><acronym title="Digital Object Identifier">DOI</acronym></dt>
	<dd><a href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a></dd>
	{% endif %}
	<dt>Citation</dt>
	<dd>
		{{ page.authors_short }}, {{ page.year }}. 
		<cite>{{ page.title }}</cite> (v. {{ page.version }}).
		{% if page.doi %}
		Zenodo. doi:{{ page.doi }}
		{% else %}
		{{ page.website }}
		{% endif %}
	</dd>
</dl>

{{ content }}
